@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

/* This will be covered in further sessions */
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.main-card {
    background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/musical-night-bg.png");
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding: 10px;
    padding-top: 70px;
}

.card-element {
    background-color: #ffffff;
    width: 95%;
    max-width: 900px;
    height: 400px;
    max-height: 800px;
    border-radius: 10px;

}

.card-element-heading {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

.heading-card {
    border-top: 1px solid #d3d3d3;
    color: #ffffff;
    height: 80vh;
    padding: 10px;
    overflow: auto;
}

.image-1 {
    height: 100px;
    max-height: 500px;
    width: 150px;
    max-width: 700px;
}

.heading-card-head {
    color: #12022f;
    font-size: 12px;
}

.heading-card-para {
    color: #594d6d;
    font-size: 10px;
}

.image-2 {
    height: 150px;
    max-height: 900px;
    width: 100px;
    max-width: 200px;
}